body{
  font-family: 'Playfair', serif;
  background-color: #1e453e;
  color: white;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.nav_item a{
  color: white;
  text-decoration: none;
}

.nav_links{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: 500px;
  flex-wrap: nowrap;
  color: white;
  font-family: 'Playfair', serif;
  font-size: 12pt;
}

.nav_item{
  padding: 15px;
}

.nav_item.active{
  background-color: #E4C580;
}

.nav_item.active a{
  color: black;
  text-decoration: underline;
}

.nav_item a:hover, a:focus{
  color: #E4C580;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.main_page_content h2{
  font-size: 15pt;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  text-align: center;
  font-family: 'Playfair', serif;
  background-color: black;
  color: #E4C580;
}


.main_page_content p{
  margin: 20px 20px;
  font-size: 0.8em;
}


a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top: 20px;
  color: black;
  text-decoration-style: solid;
}


footer{
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 0.8em;
}


.main_photo_container{
  position: relative;
  margin-bottom: -4px;
  background: url("../images/background/backmain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
}

.main_photo_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 80%;
  background-color: #1e453e;
  height: 100%;
  width: 100%;
}

.mainheader{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20pt;
  width: 100%;
  opacity: inherit;
  color: #E4C580;
  font-family: 'Playfair', serif;
  background-color: #1e453e;
  border: 1px;
  border-style: solid;
  border-color: white;
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.subtitle_big{
  text-align: center;
  font-size: 1.5em;
  display: block;
  margin: 20px auto;
}

.subtitle_small{
  text-align: center;
  font-size: 1em;
  display: block;
  width: 70%;
  margin: 10px auto;
}







ul {
  margin-left: 20px;
}

.genealogy-tree {
  margin-right: 20px;
  margin-left: 20px;
}

h1{
  font-weight: bold;
  
}

ul h3{
  border: 1px;
  border-style: solid;
  border-color: white;
  padding: 5px;
  color: #E4C580;
}

.level1 li {
  list-style-type: none;
  margin: 10px 0 10px 10px;
  position: relative;
}

.level1 li:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 20px;
  height: 15px;
}

.level1 li:after {
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 20px;
  height: 100%;
}

.level1 li:last-child:after {
  display: none;
}

.level1 li span {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  color: #888;
  text-decoration: none;
}

.level1 li span:hover,
.level1 li span:focus {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}

.level1 li span:hover + ul,
.level1 li span:focus + ul {
  li:after,
  li:before {
    border-color: #aaa;
  }
}

.level1 li span:hover + ul li span,
.level1 li span:focus + ul li span {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}
















hr{
  height: 5px;
  border-width: 1px;
  color: white;
  margin-top: 30px;
  margin-bottom: 0px;
}

@media screen and (min-width: 700px){

  .nav_item a{
    font-size: 1.3em;
    padding: 20px;
  }

  .mainheader, .peopleheader{
    font-size: 2em;
  }

  .main_page_content img{
    max-width: 90%;
  }

  h2{
    width: auto;
    margin-left: auto !IMPORTANT;
    margin-right: auto !IMPORTANT;
  }



  .genealogy-scroll::-webkit-scrollbar {
      width: 5px;
      height: 8px;
  }
  .genealogy-scroll::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #e4e4e4;
  }
  .genealogy-scroll::-webkit-scrollbar-thumb {
      background: #212121;
      border-radius: 10px;
      transition: 0.5s;
  }
  .genealogy-scroll::-webkit-scrollbar-thumb:hover {
      background: #d5b14c;
      transition: 0.5s;
  }

  .genealogy-body{
      white-space: nowrap;
      overflow-y: hidden;
      padding: 50px;
      min-height: 500px;
      padding-top: 10px;
      text-align: center;
  }
  .genealogy-tree{
    display: inline-block;
  }
  .genealogy-tree ul {
      padding-top: 20px;
      position: relative;
      padding-left: 0px;
      display: flex;
      justify-content: center;
  }
  .genealogy-tree li {
      float: left; text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px;
  }
  .genealogy-tree li::before, .genealogy-tree li::after{
      content: '';
      position: absolute;
    top: 0;
    right: 50%;
      border-top: 2px solid #ccc;
      width: 50%;
    height: 18px;
  }
  .genealogy-tree li::after{
      right: auto; left: 50%;
      border-left: 2px solid #ccc;
  }
  .genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before {
      display: none;
  }
  .genealogy-tree li:only-child{
      padding-top: 0;
  }
  .genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after{
      border: 0 none;
  }
  .genealogy-tree li:last-child::before{
      border-right: 2px solid #ccc;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
  }
  .genealogy-tree li:first-child::after{
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
  }
  .genealogy-tree ul ul::before{
      content: '';
      position: absolute; top: 0; left: 50%;
      border-left: 2px solid #ccc;
      width: 0; height: 20px;
      background-color: white;
  }
  .genealogy-tree li a{
      text-decoration: none;
      color: #666;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
  }

  .genealogy-tree li a:hover+ul li::after,
  .genealogy-tree li a:hover+ul li::before,
  .genealogy-tree li a:hover+ul::before,
  .genealogy-tree li a:hover+ul ul::before{
      border-color:  #E4C580;
  }

  /*--------------memeber-card-design----------*/
  .member-view-box{
      padding:20px 20px;
      text-align: center;
      border-radius: 4px;
      border: 1px;
      border-style: solid;
      border-color: #E4C580;
      position: relative;
      color: white;
      font-size: 20pt;
      font-family: 'Playfair', serif;
  }

@media screen and (min-width: 1000px){

  header{
    align-items: left;
    justify-content: flex-end;
  }

  .nav_item a{
    font-size: 1.5em;
    padding: 10px;
  }

  .mainheader{
    font-size: 30pt;
  }

  .main_page_content p{
    margin: 20px 20px;
    font-size: 1.2em;
  }

  .subtitle_big{
    font-size: 1.5em;
  }

  .subtitle_small{
    text-align: center;
    font-size: 1em;
    display: block;
    margin: auto;
  }


@media (prefers-reduced-motion: reduce){
  .mainheader, .peopleheader{
    opacity: 1;
    animation: none;
  }
}
